@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root {
    --bg: #0D0D0D;
    --black: #010103;
    --darkGreen: #014034;
    --green: #02735e;
    --lightGreen: #038c73;
    --light: rgb(54, 191, 177);
    --border: .1rem solid rgba(54, 191, 177, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    outline: none; 
    border: none;
    text-decoration: none;
}

body
{
    color: #482626;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: small;
    margin-left: 40px;
}

h2
{
    font-size: large;
}

h2:first-letter
{
    font-size: xx-large;
}


table
{
    text-align: center;
    border-spacing: 0px;
    background-color: transparent;
    table-layout: fixed;
    min-width: 900px;
    padding: 0px;
}

thead
{
    color: #400000;
    font-weight: bold;
    height: 30px;
}

thead td
{
    border-bottom: 2px solid #8a4848;
}

thead a
{
    color: #400000;
    text-decoration: none;
    display: block;
}

thead td a:hover
{
    text-decoration: underline;
    color: #c13f00;
}

tbody td
{
    border-bottom: 1px solid #c39379;
    height: 30px;
}

/*tbody tr:nth-child(even)
{
    background-color: #f8f3f1;
}*/

tfoot
{
    color: #400000;
    font-weight: bold;
    text-align: left;
    height: 30px;
}

tfoot td
{
    padding-left: 10px;
    border-bottom: 1px solid #c89379;
    border-top: 1px solid #c89191;
    height: 35px;
}

td#srednia
{
    background-color: #ffeedd;
    text-align: center;
    padding: 0px;
}

td.zaznacz
{
    background-color: #ffc891;
}

/*formularz*/

fieldset
{
    width: 420px;
    border: 1px dotted #800000;
    border-radius: 5px;
    padding-bottom: 15px;
}

label
{
    display: block;
    min-width: 130px;
    float: left;
}

input[type = text], input[type = password]
{
    width: 260px;
    color: inherit;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    padding: 5px 10px 5px 10px;
}

p.lbl
{
    line-height: 30px;
    margin: 10px 0px 0px 0px;
}

select
{
    width: 283px;
    color: inherit;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    padding: 5px 5px 5px 5px;
}

select option:checked
{
    background-color: #800000;
    color: #c0c0c0;
}

option
{
    padding: 2px 5px 2px 5px;
}

input[type = text]:focus, input[type = password]:focus, select:focus
{
    border: 1px solid #c89379;
    box-shadow: 0px 0px 5px #bc7a7a;
}

label.cbxrbt
{
    width: 300px;
}

input[type = checkbox], input[type = radio]
{
    margin-left: 130px;
}

input[type = submit], input[type = reset], .btn
{
    min-width: 90px;
    min-height: 30px;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}

input[type = submit]
{
    background-color: #0062c4;
    color: #ffffff;
    border: 1px solid #004a95;
}

input[type = reset]
{
    background-color: #ffffff;
    color: #4f4f4f;
    border: 1px solid #606060;
    margin-left: 10px;
    margin-right: 10px;
}

input[type = submit]:hover, input[type = submit]:focus
{
    background-color: #158aff;
}

input[type = reset]:hover, input[type = reset]:focus
{
    background-color: #eaeaea;
}

.btn
{
    background-color: #17ac1c;
    color: #ffffff;
    border: 1px solid #149518;
    margin-top: 10px;
}

a.btn
{
    text-decoration:none;
}

.btn:hover
{
    background-color: #19c41f;
}


table .btn
{
    padding: 4px;
}

a.upd
{
    background-color: #ffa953;
    border: 1px solid #d96c00;
}

a.upd:hover
{
    background-color: #ffb56a;
}

a.del
{
    background-color: #ff4d4d;
    border: 1px solid #d30909;
}

a.del:hover
{
    background-color: #ff7b7b;
}

a.def 
{
    color: #000000;
}

a.def:hover
{
    color: #000000;
    background-color: #eaeaea;
} 


/* ----------------------------- */
/* Style komunikatów */

.msg
{
    padding: 10px;
    border-radius: 5px;
}

.success
{
    background-color: #c5ffc7;
    border: 1px solid #4ecc52;
}

.info
{
    background-color: #dadfff;
    border: 1px solid #6d7fff;
}

.warn
{
    background-color: #fffdc2;
    border: 1px solid #fdd014;
}

.error
{
    background-color: #ffdfdf;
    border: 1px solid #ff7171;
}

.def
{
    background-color: #f0f0f0;
    border: 1px solid #bababa;
}


